{% extends "base.html" %}

{% block content %}

<div class="container_flash">
  {% with messages = get_flashed_messages(with_categories=true) %}
     {%if messages %}
          {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <h4 style="text-align:center;">{{ message }}</h4>
            </div>
          {%endfor%}
    {%endif %}
  {%endwith%}
</div>

<div class="container" id="destination">
      <div class="row">
        <div class="col-12">
          <div class="tm-parallax">
            <header class="tm-parallax-header">
              <h2 class="">Inscription</h2>
            </header>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label for="email">Username : </label>
                      <input type="text" name="uname" class="form-control" id="uname">
                    </div>
                    <div class="form-group">
                      <label for="email">Email : </label>
                      <input type="email" name="mail" class="form-control" id="mail">
                    </div>
                    <div class="form-group">
                      <label for="email">Password : </label>
                      <input type="password" name="passw" class="form-control" id="passw">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}